.header-user-notification {
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
    cursor: pointer;
}
.header-user__notification {
    width: 30px;
    height: 30px;
}